// $body-bg: #f2f2f2;
// $primary: #3BA5DC;
// $secondary: #FF3697;
// $danger: #EB5757;
// $success: #27AE60;
// $warning: #FF7F50;
// $info: #00C9BD;
// $dark: #313130;


$body-bg: #f2f2f2;
$primary: #55efc4;
$secondary: #636e72;
$danger: #EB5757;
$success: #27AE60;
$warning: #FF7F50;
$info: #dfe6e9;
$dark: #313130;
$light: #fffefe;